.flag {
  width: 100%;
  height: 227px;
}

.card {
  width: 100%;
  margin-bottom: 1em;
  border: none;
  box-shadow: 0px 5px 15px rgba(0, 123, 255, 0.125);
}

.list-group {
  border: none;
  box-shadow: 0px 5px 15px rgba(0, 123, 255, 0.125);
}

.list-group-item {
  border: none;
}

.country .card-body {
  padding-bottom: 0;
}

.form-control {
  border: none;
  min-width: 18em;
  box-shadow: 0px 5px 15px rgba(0, 123, 255, 0.125);
}

.card-footer {
  border: none;
  padding-top: 0;
  background: #fff;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-column-gap: 1em;
}

.list {
  border-radius: 0.25rem;
  padding: 10px 0;
  margin-bottom: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.list-item:last-child {
  margin-bottom: 0;
}